# Ignore everything at root level
/*

# Keep these
!/SONATA/hollowell-1982/
!/SONATA/hollowell-1982/**

!/SONATA/AGARD445.6/
!/SONATA/AGARD445.6/**

!/SONATA/ETNZ/
!/SONATA/ETNZ/**

!/SONATA/NACA0012/
!/SONATA/NACA0012/**

!/SONATA/NACA0015/
!/SONATA/NACA0015/**

!/SONATA/9_gitclone/

!/FEA/
!/FEA/fea_utl/
!/FEA/fea_utl/**

!/Hydroelastic_analysis_workflow/
!/Hydroelastic_analysis_workflow/**

!/PanelAero/

!/PanelAero/panelaero_utl/
!/PanelAero/panelaero_utl/**
!/PanelAero/panelaero_utl/CAERO1_cards/**
!/PanelAero/panelaero_utl/pk_method_utl/**
PanelAero/panelaero_utl/old/

!/PanelAero/Qjj/
!/PanelAero/Qjj/**
/PanelAero/Qjj/qjj_precomputed/

!/docs/
!/docs/**

!/main.py

!/examples/
!/examples/**

#!/README.md
#!/LICENSE
#!/requirements.txt